if alerts !== null
    div(class="alert") 
        span 
            i(class="fas fa-check-circle alert-icon")  
        span  #{alerts}
        span(class="closebtn" onclick="this.parentElement.style.display='none';") &times