extends main-document

block header
    include main-header
    
block footer
    a(href='https://www.inf.upol.cz' aria-label='Katedra informatiky')        
        include katedra-logo
    small © 2020 - Katedra informatiky, Univerzity Palackého | Jan Nejezchleba