nav
    div(class="container--small-logo")
                a(href="/menu")
                    div(class="button button--rounded") 
                        img(class="small-logo--upbot" src="img/logo/upbot-logo.png", alt="Logo chatbota Katedry informatiky Univerzity Palackého")  
    ul(class="container--flex container--centered")
        li
            a(class="button button--box-small content--small-button" href="/uzivatelska-nastaveni")
                    i(class="fas fa-user")  
                    span(class="text--small-button") Uživatel             
        li
            a(class="button button--box-small content--small-button" href="/odhlasit")    
                i(class="fas fa-door-open")  
                span(class="text--small-button") Odhlásit