if restartNeeded
    div(class="info-message restart-message")
        span 
            i(class="fas fa-exclamation-circle restart-icon")  
        span  
            p Došlo ke změnám v databázi! 
            P Změny se projeví až po opětovném spuštění/restartování chatbota!