extends ../components/main-layout

block content
    h1(class="header-text--centered") Seznam otázek z FAQ 
    include ../components/errors
    include ../components/alerts

    div(class="top-list-edit" id="top")            
        a(class="button button--box-small content--small-button form-button form-button--edit" href="/menu") Zpět
        button(class="button button--box-small content--small-button form-button form-button--edit" type="button" name="addButton" onclick="window.location.href = '/FAQ-pridat';")
            i(class="fas fa-plus icon--login" aria-hidden="true") 
            span Přidat

    form(action="/FAQ-action" method="post" name="faqAction")
        div(class="list-container list-container--header")
            span Zkratka otázky
        if(intents.length === 0)
            div(class="list-container")
                span --SEZNAM JE PRÁZDNÝ--
        each value in intents
            div(class="list-container")
                span #{value.intent}
                ul(class="button--action-container")
                    li
                        button(class="button content--small-button button--action" value=value.intent type="submit" name="deleteButton")
                            i(class="fas fa-trash-alt icon--edit" aria-hidden="true")
                    li
                        button(class="button content--small-button button--action" value=value.intent type="submit" name="updateButton")
                            i(class="fas fa-edit icon--edit" aria-hidden="true")
                    li
                        button(class="button content--small-button button--action" value=value.intent type="submit" name="trainButton")
                            i(class="fas fa-brain icon--edit" aria-hidden="true")

        a(class="button button--box-small button--rounded button--rounded--page-up" href="#top") 
            i(class="fas fa-chevron-circle-up" aria-hidden="true")
